<div class="container">
    <div class="logo">
        <img src="assets\img\logo.png" alt="">
    </div>
    <div class="form">
        <h1>Acceso a la aplicación</h1>
        <input type="text" name="user" id="user"  [(ngModel)]='username' placeholder='Usuario'>
        <input type="password" name="password" id="password" [(ngModel)]='password' placeholder='Contraseña'>
        @if(error != ''){
            <p class='error'>{{error}}</p>
        }
        <button class='login-btn' (click)="login()">Login</button>
    </div>
</div>