.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
    width: 100%;
    
}
.logo {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.logo img{
width: 50%;

}


.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1em;
    padding: 1em;
    background-size: cover;
}

.form input {
    width: 50%;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-btn{
    width: 20%;
    
}


h1{
    color: #ffffff;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
    font-size: 3em;

}

.error{
    color: red;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

