<div class="container">
    <div class="bar">
        <div class="logo">
            <img src="assets\img\logo.png" alt="">
            <h1>Panel Administración</h1>
            <button class='logout-btn' (click)="logout()"><i class="bi bi-box-arrow-right"></i></button>
        </div>
        <div class="panel-menu">
            <app-panel-menu [actualPanel]="actualPanel"></app-panel-menu>
        </div>
           
    </div>

    <div class="admin-section">
        <div class="add-user-panel">
            <form (ngSubmit)="addUser()">
                <h2>Agregar Usuario</h2>
                <input type="text" name="newUserNombre" id="newUserNombre" [(ngModel)]="newUser.name" placeholder='Nombre' required>
                <input type="text" name="newUserName" id="newUserName" [(ngModel)]="newUser.username" placeholder='Username' required>
                <input type="password" name="newUserPassword" id="newUserPassword" [(ngModel)]="newUser.password" placeholder='Password' required>
                <select name="newUserRole" id="newUserRole" [(ngModel)]="newUser.role" required>
                    <option value="undefined" disabled selected> Selecciona un Rol </option>
                    <option value="Admin">Admin</option>
                    <option value="Mantainer">Mantainer</option>
                    <option value="User">User</option>
                </select>
                <button type='submit'>Agregar</button>
                @if(error != ''){
                    <p class='error'>{{error}}</p>
                }
            </form>
    
        </div>
        <div class="users-list">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Username</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for(user of users | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total } ; track user.username)
                    {
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.role}}</td>
                        <td>
                            <button class='deletebutton' (click)='deleteUser(user.id)'> <i class="bi bi-trash3-fill"></i> </button>
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
    
</div>

