.container{
    width: 100%;
    height: 100%;
   
}

table{
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;

}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #455263;
    color: #ffffff;
   
}

tbody{
    background-color: #f2f2f2;
}

.bar{
    width: 100%;
    background-color: #455263;
    height: 15%;
    display: flex;
    justify-content: space-evenly;

   
}


.admin-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-user-panel form select {
    width: 50%;
    padding: 1em;
    border-radius: 5px;
    background-color: #ffffff;
}

.add-user-panel h2{
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
}


.add-user-panel{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 50%;
}

.users-list {
    width: 60%;
    padding: 2em;
}

.deletebutton{
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 1em;
    color: #ce0606;
}

.deletebutton i:hover{
    color: #000000;
}

.add-user-panel form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.add-user-panel form input{
    width: 50%;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
} 



.error{
    color: #ce0606;
    font-size: 1em;
    font-weight: bold;
}

.logout-btn{
    position: absolute;
    right: 0;
    top: 2%;
    background-color: transparent;
    width: 10%;
    box-shadow: none;
    font-size: 2em;
    color: #ffffff;
}

.logout-btn i:hover{
    color: #000000;
}


.panel-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}