.container {
  width: 100%;
  height: 100%;
}

.bar {
  width: 100%;
  background-color: #455263;
  height: 15%;
  display: flex;
  justify-content: space-between;
}


.connect {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.connect span {
  color: #ffffff;
}
.connect-light {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #89daf325;
  border-radius: 50%;
  z-index: 1;
}

.connection-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  filter: blur(2px);
  box-shadow: 0 0 10px red;
  z-index: 555;

  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.title h1{
color: #ffffff;
text-shadow: 1px 1px 2px #000000;
}



.connection-status-connected {
  background-color: green;
  box-shadow: 0 0 10px green;
  animation: blink 0.8s infinite;
}

.connect-form {
  width: 50%;
}

.input-search {
  position: relative;
  top: 50%;
  right: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-search input {
  padding: 1em;
  border-radius: 0.5em;
  width: 100%;
  border: none;
}
.input-search input:focus {
  border: none;
  outline: none;
}

.bi-plugin{
  position: absolute;
  right: 0.5em;
  color: #31404e;
  font-size: 1.5em;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form form {
  position: relative;
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 1.5em;
  margin: 3em;

}

.form-option {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  gap: 0.3em;
}

.form-option input {
  width: 100%;
  padding: 0.7em;
  border-radius: 5px;
  border: none;
}

.form-option input:focus,
.form-option select:focus,
.form-option option:focus,
.form-option button:focus {
  border: none;
  box-shadow: 0 0 5px #2a33357e;
  outline: none;
}

.form-option select {
  width: 100%;
  padding: 0.7em;
  border-radius: 5px;
  border: none;
}

.form-option select option {
  padding: 0.7em;
  border-radius: 5px;
  border: none;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.ipconnection {
  padding: 1em;
  border-radius: 0.5em;
  width: 100%;
  border: none;
  background-color: #ffffff;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000a9;
}

.loading h1 {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  margin-bottom: 10%;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000000;
  animation: blink 0.6s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.lootie-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
}
.is-completed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000a9;
}

.is-completed h1 {
  color: #42f851d5;
  font-size: 2em;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000000;
  animation: anim-glow 5s infinite;
}

@keyframes anim-glow {
  0% {
    filter: drop-shadow(0 0 10px #42f851d5);
  }
  50% {
    filter: drop-shadow(0 0 20px #42f851d5);
  }
  100% {
    filter: drop-shadow(0 0 10px #42f851d5);
  }
}

.error {
  color: red;
  font-size: 1em;
  text-align: center;
  min-height: 1em;
  position: relative;
}

label {
  color: #ffffff;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px #000000;
}

.logout-btn {

  width: 50%;
  top: 2%;
  right: -3%;
  background-color: transparent;
  width: 10%;
  box-shadow: none;
  font-size: 2em;
  color: #ffffff;
}

.logout-btn i {
  width: 50%;
}

.logout-btn i:hover {
  color: #000000;
}

.disabled{
  background-color: grey;
}

.panel-menu{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.logo img {
  width: 19%;
}

.logo{
  width: 30%;
}

.bi-question-square-fill{
  position: absolute;
  top: 17%;
  right: 1%;
}

.info-user-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(31, 31, 31, 0.712);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-user-modal-content{
  position: relative;
  padding: 2em;
  background-color: #dedfe2;
  z-index: 999;
  border-radius: 10px;
  box-shadow: 0 0 20px #000000;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40%;
  justify-content: space-around;
}
.info-user-modal-content h1{
  color: #000000;
  font-size: 2em;
  text-align: center;
  

}

.info-user-modal-content p{
  color: #000000;
  font-size: 1em;
  padding: 0.2em;
}

.info-user-modal-content button{
  width: 30%;
  padding: 1em;
  border-radius: 10px;
  background-color: #455263;
  color: #ffffff;
  border: none;
  box-shadow: 2px 2px 2px #000000c2;
  align-self: center;
}

label  {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5em;

  
}

label i {

  font-size: 0.8em;
  cursor: pointer;
}

label i:hover {
  color: #5bb2ff;
  animation: jelly 0.5s ;
}



.infoHover{
  position: absolute;
  top: 0;
  right: 1%;
  background-color: rgb(226, 226, 226);
  box-shadow: 0px 0px 5px #0c0c0c;
  border-radius: 10px;
  padding: 1em;
  width: 18%;
  height: 8%;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;


  
}