<div class="container">
    
    <div class="bar">
        <div class="logo">
            <img src="assets\img\logo.png" alt="">
            <h1>Simulador de Hardware</h1>
            
        </div>
        <div class="panel-menu">
            <app-panel-menu [actualPanel]="actualPanel" [role]='actualRole'></app-panel-menu>
        </div>
        <div class="connect">
            <div class="connect-light">
                <div class="connection-status" [ngClass]="{'connection-status-connected': statusLight}"></div>
            </div>
            @if(statusLight){
                <span>Conectado</span>
            }@else{
                <span>Sin Conectar</span>
            }
            
            <form class="connect-form" action="">
                <div class="input-search">
                <input class='ipconnection 'type="text" name="login" id="login" [(ngModel)]="ipSelected" placeholder='13.50.172.168' >
                <i (click)="ping()" class="bi bi-plugin"></i>
                </div>
            </form>
            <button class='logout-btn' (click)="logout()"><i class="bi bi-box-arrow-right"></i></button>
        </div>
        
    </div>
    <div class="form">
        <div class="title">
            <h1>Configuración de Envio</h1>
            <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        @if(isInfoModalOpen){
            <div class="info-user-modal">
                <div class="info-user-modal-content">
                    <h1>Información</h1>
                    <div class="modal-content-text">
                    <p>El input superior te permite <strong>conectarte</strong> al servidor que necesites usando su IP</p>
                    <p>Con el formulario podrás enviar mensajes a los <strong>dispositivos de hardware</strong> que estén conectados a la red.</p>
                    <p>Para ello, deberás seleccionar <strong>el tipo de hardware, el header, el body, la ip, el puerto y el EPS(Envio por Segundo).</strong></p>
                    <p>Una vez completado los campos, podrás enviar el mensaje.</p>
                    <p>En la parte superior derecha podrás ver el estado de la conexión.</p>
                    </div>
                    <button (click)="isInfoModalOpen = false">Cerrar</button>
                </div>
            </div>
        }
        <i (click)="openInfoModal()" class="bi bi-question-square-fill"></i>
        <form (ngSubmit)="createPetition()">
            <div class="form-option">
                <label for="hardware">Tipo de Hardware <i class="bi bi-question-circle" (click)="toggleInfoHover('hardware')"></i></label>
                <select name="hardware" id="hardware" [(ngModel)]='sendConnectionConfig.hardware' name='hardware'>
                    <option value="undefined" disabled selected >Seleccciona una opción</option>
                    @for(item of hardwareEnum ; track item)
                        {
                           <option value="{{item}}">{{item | titlecase}}</option>
                        }
                </select>
            </div>
            
            <div class="form-option">
                <label for="header">Header <i class="bi bi-question-circle" (click)='toggleInfoHover("header")'></i></label>
                <select name="header" id="header" [(ngModel)]='sendConnectionConfig.header' name='header'>
                    <option value="undefined" disabled selected >Seleccciona una opción</option>
                    @for(item of headerFormartEnum ; track item)
                        {
                           <option value="{{item}}">{{item}}</option>
                        }
                </select>
            </div>

            <div class="form-option">
                <label for="body">Body <i class="bi bi-question-circle" (click)="toggleInfoHover('body')"></i></label>
                <select name="body" id="body" [(ngModel)]='sendConnectionConfig.body' name='body'>
                    <option value="undefined" disabled selected >Seleccciona una opción</option>
                    @for(item of bodyTypeEnum ; track item)
                        {
                           <option value="{{item}}">{{item | titlecase }}</option>
                        }
                </select>
            </div>

            <div class="form-option">
                <label for="ip">IP <i class="bi bi-question-circle" (click)='toggleInfoHover("ip")'></i></label>
                <input type="text" name="ip" id="ip" [(ngModel)]='sendConnectionConfig.ip' name='ip' placeholder='Ej: 192.168.0.1'>
            </div>

            <div class="form-option">
                <label for="port">Port <i class="bi bi-question-circle" (click)='toggleInfoHover("port")'></i></label>
                <input type="text" name="port" id="port" [(ngModel)]='sendConnectionConfig.port' name='port' placeholder='Ej: 514'> 
            </div>

            <div class="form-option">
                <label for="eps">EPS <i class="bi bi-question-circle" (click)='toggleInfoHover("eps")'></i></label>
            <input type="text" name="eps" id="eps" [(ngModel)]='sendConnectionConfig.eps' name='eps' placeholder='Ej: 5'>
            </div>

            <div class="form-option">
                <label for="sendMode">Send Mode <i class="bi bi-question-circle" (click)='toggleInfoHover("sendMode")'></i></label>
                <input type="number" name="sendMode" id="sendMode" [(ngModel)]='sendConnectionConfig.sendMode'
                    placeholder='Ej: 100'>
            </div>
           @if(avaibleButton){
            <button type='submit' class='login-btn'> Mandar Mensaje</button>
           }@else {
            <button class='login-btn disabled' disabled> Mandar Mensaje</button>
           }
           
            
            
           <p class='error'>{{error}}</p>
        </form>
        
        @if(infoHoverVisible){
            <div [style.top.%]="infoHoverPosition" class="infoHover">
                {{ infoHoverText }}
            </div>
        }
        
       
    </div>
    
    @if(isLoading){
        <div class="loading">
            <h1>Enviando...</h1>
            <div class="lootie-spinner">
                <ng-lottie [options]="optionsSpinner" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
        </div>
    }
    @if(completeProcess){
        <div class="is-completed">
            <div class="lootie-spinner">
                <ng-lottie [options]="optionsDone" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
        </div>
    }

</div>