
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /* background-color: #47a4e25d; */
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
}

button{
  width: 30%;
  padding: 1em;
  border-radius: 10px;
  background-color: #455263;
  color: #ffffff;
  border: none;
  box-shadow: 2px 2px 2px #000000c2;
  

}

button:hover{
  background-color: #1c2531;
  color: #ffffff;
  cursor: pointer;
}

.ngx-pagination .current {
  
  background-color: #455263c4 !important;
  border: 1px solid #dee2e6;
}


.ngx-pagination .disabled {
  padding: .1875rem .625rem;
  color: #7297a8 !important;
  cursor: default;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  gap: 1em;
  padding: 0.5em;
  
}


.logo h1{
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 2px 2px 3px #000000;
}

.logo img{

  width: 15%;

}

.bi-question-square-fill{
  color: #ffffff;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.1s;
}

.bi-question-square-fill:hover, .bi-question-square-fill:focus{
  animation: jelly 0.5s;
}


@keyframes jelly {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.25, 0.75);
  }
  50% {
    transform: scale(0.75, 1.25);
  }
  75% {
    transform: scale(1.15, 0.85);
  }
}