.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}


.collapse-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

}

.collapse-btn a i {
    color: #ffffff;
    font-size: 2em;
}

.collapse-btn a span {
    font-size: 0.8em;
}

.collapse-btn:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 3px #131313);
}