<div class="menu">
    @switch (actualPanel) {

    @case ('admin-panel') {
    <div class="collapse-btn">
        <a [routerLink]="['/mantainer-panel']">
            <i class="bi bi-wrench-adjustable-circle"></i>
            <span>Panel de Mantenimiento</span>
        </a>
    </div>
    <div class="collapse-btn">
        <a [routerLink]="['/user-panel']">
            <i class="bi bi-person-workspace"></i>
            <span>Panel de Usuario</span>
        </a>
    </div>
    }

    @case ('mantainer-panel') {
    @if(role == 'Admin'){
    <div class="collapse-btn">
        <a [routerLink]="['/admin-panel']">
            <i class="bi bi-person-badge-fill"></i>
            <span>Panel de Administración</span>
        </a>
    </div>

    }

    <div class="collapse-btn">
        <a [routerLink]="['/user-panel']">
            <i class="bi bi-person-workspace"></i>
            <span>Panel de Usuario</span>
        </a>
    </div>
    }


    @case ('user-panel') {
    @if(role == 'Admin'){
    <div class="collapse-btn">
        <a [routerLink]="['/admin-panel']">
            <i class="bi bi-person-badge-fill"></i>
            <span>Panel de Administracion</span>
        </a>
    </div>
    }
    @if(role == 'Mantainer' || role == 'Admin'){
    <div class="collapse-btn">
        <a [routerLink]="['/mantainer-panel']">
            <i class="bi bi-wrench-adjustable-circle"></i>
            <span>Panel de Mantenimiento</span>
        </a>
    </div>
    }

    }
    }



</div>