<div class="container">
    <div class="bar">
        <div class="logo">
            <img src="assets\img\logo.png" alt="">
            <h1>Panel Mantenimiento</h1>
            
            <button class='logout-btn' (click)="logout()"><i class="bi bi-box-arrow-right"></i></button>
        </div>
        <div class="panel-menu">
            <app-panel-menu [actualPanel]="actualPanel" [role]="actualRole"></app-panel-menu>
        </div>
    </div>
<div class="mantainer-panel">    
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <table>
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Hardware</th>
                <th>Header</th>
                <th>Body</th>
                <th>IP</th>
                <th>Puerto</th>
                <th>EPS</th>
                <th>Enviando</th>
            </tr>
        </thead>
        <tbody>
            @for(registry of allRegistries  | paginate: { itemsPerPage: 15, currentPage: p, totalItems: total } ; track registry.id)
            {
            <tr>
                <td>{{registry.user.username}}</td>
                <td>{{registry.hardware}}</td>
                <td>{{registry.headerType}}</td>
                <td>{{registry.body}}</td>
                <td>{{registry.ip}}</td>
                <td>{{registry.port}}</td>
                <td>{{registry.eps}}</td>
                <td>{{registry.sending}}</td>
            </tr>
            }
    </table>
    
</div>