.container{
    width: 100%;
    height: 100%;
   
}
.mantainer-panel{
    
    width: 100%;
    padding: 2em;
}

table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    

}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #455263;
    color: #ffffff;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
    font-size: 2em;
}

tbody{
    background-color: #f2f2f2;
}

.bar{
    width: 100%;
    background-color: #455263;
    height: 15%;
    display: flex;
    justify-content: space-evenly;

   
}


.logout-btn{
    position: absolute;
    right: 0;
    top: 2%;
    background-color: transparent;
    width: 10%;
    box-shadow: none;
    font-size: 2em;
    color: #ffffff;
}

.logout-btn i:hover{
    color: #000000;
}

.panel-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}